<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Algo'Mate</title>{% endblock %}
        <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/config.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/step.css') }}">

            {# Profile #}
        <link rel="stylesheet" href="{{ asset('assets/css/profile/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profile/availabilities.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profile/game_info.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profile/mate.css') }}">

            {# Admin #}
        <link rel="stylesheet" href="{{ asset('assets/css/admin/style.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/login_register.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/user_list.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/edit_profile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/homepage.css') }}">


        {% block stylesheets %}{% endblock %}

    </head>