 {% set route_name = app.request.attributes.get('_route') %}
   <body>
        <header>
            <section id="navbar">
                <div class="content-logo">
                    <a href="{{ path('homepage') }}">
                        <p>Algo'Mate<p>
                    </a>
                </div>
                <div class="content-nav">
                    <nav>
                        <ul class="content-item central-nav">
                            <div class="nav-item">
                                <li {% if route_name == "homepage" %}class="central-nav-item active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('homepage') }}">Accueil</a>
                                </li>                        
                            </div>
                            <div class="nav-item">
                                <li {% if route_name == "champion_list" %}class="central-nav-item active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('champion_list') }}">Champions</a>
                                </li>                                                               
                            </div>
                            <div class="nav-item">
                                <li {% if route_name == "found_mate" %}class="central-nav-item active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('found_mate') }}">Trouvez un Mate</a>
                                </li>                              
                            </div>
                            <div class="nav-item">
                                <li {% if route_name == "user_list" %}class="central-nav-item active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('user_list') }}">Liste des joueurs</a>
                                </li>                              
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="nav-item">
                                <li {% if route_name == "admin" %}class="central-nav-item active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('admin') }}">Administration</a>
                                </li>                              
                            </div>
                            {% endif %}
                        </ul>
                    </nav>
                </div>



                <div class="content-disconnect">
                    {% if app.user %}
                        <div class="nav-item">
                            <a href="{{ path('profile') }}">
                                {% if app.user.username == NULL %}
                                    {{ app.user.email }}
                                {% else %}
                                    {{ app.user.username }}
                                {% endif %}
                            </a>
                        </div>
                        <div class="nav-item disconnect">
                            <a href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </div>
                    {% else %}
                    <div class="nav-item connection">
                        <a href="{{ path('app_login') }}">
                            <div>Connexion / Inscription</div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </section>
        </header>