 {% set route_name = app.request.attributes.get('_route') %}
   <body>
        <header>
            <section id="navbar">
                <div class="content-logo">
                    <a href="{{ path('homepage') }}">
                        <p>Algo'Mate<p>
                    </a>
                </div>
                <div class="content-nav">
                    <nav>
                        <ul class="content-item central-nav">
                            <a href="{{ path('homepage') }}"{% if route_name == "homepage" %} class="nav-item nav-active" {% else %} class="nav-item" {% endif %}>
                                <li {% if route_name == "homepage" %} class="central-nav-item item-active" {% else %} class="central-nav-item" {% endif %}>
                                    Accueil
                                </li>                        
                            </a>
                            <a href="{{ path('champion_list') }}" {% if route_name == "champion_list" %}class="nav-item nav-active" {% else %} class="nav-item" {% endif %}>
                                <li {% if route_name == "champion_list" %}class="central-nav-item item-active"{% else %} class="central-nav-item" {% endif %}> 
                                    Champions
                                </li> 
                            </a>                                                              
                            <a href="{{ path('found_mate') }}" {% if route_name == "found_mate" %}class="nav-item nav-active" {% else %} class="nav-item" {% endif %}>
                                <li {% if route_name == "found_mate" %}class="central-nav-item item-active" {% else %} class="central-nav-item" {% endif %}>
                                    Trouvez un Mate
                                </li>                              
                            </a>
                            <a href="{{ path('user_list') }}" {% if route_name == "user_list" %}class="nav-item nav-active" {% else %} class="nav-item" {% endif %}>
                                <li {% if route_name == "user_list" %}class="central-nav-item item-active" {% else %} class="central-nav-item" {% endif %}>
                                    Liste des joueurs
                                </li>                              
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div {% if route_name == "admin" %}class="nav-item nav-active" {% else %} class="nav-item" {% endif %}>
                                <li {% if route_name == "admin" %}class="central-nav-item item-active" {% else %} class="central-nav-item" {% endif %}>
                                    <a href="{{ path('admin') }}">Administration</a>
                                </li>                              
                            </div>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="content-disconnect">
                    {% if app.user %}
                        <div {% if route_name == "profile" %} class="nav-item-connect nav-active item-active" {% else %} class="nav-item-connect" {% endif %}>
                            <a href="{{ path('profile') }}">
                                {% if app.user.username == NULL %}
                                    {{ app.user.email }}
                                {% else %}
                                    {{ app.user.username }}
                                {% endif %}
                            </a>
                        </div>
                        <div class="nav-item-connect disconnect">
                            <a href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </div>
                    {% else %}
                    <div class="nav-item-connect connection">
                        <a href="{{ path('app_login') }}">
                            <div>Connexion / Inscription</div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </section>
        </header>