{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="edit-profile totaly-center">
     <section class="content-step bg-step content-edit">
        <div class="title-step">
            <h1>Modification du profil</h1>
        </div>
        <div class="text-form under-title">
            <div class="explain-text">
                <p class="complementary-info">(Les champs avec une * doivent être impérativement rempli.)</p>
            </div>
        </div>
        <div class="content-step-form">
            {{ form_start(form, {'attr': {'id': 'edit-form'}}) }}
            <div class="editing-content">
                <div class="irl-edit">
                    <div class="primary-info-edit">
                        <div class="title-step">
                            <h2>Informations personnelles</h2>
                        </div>
                        <div class="personal-edit-container">
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.lastname) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.lastname) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.lastname) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.firstname) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.firstname) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.firstname) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.age) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.age) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.age) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.country) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.country) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.country) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.city) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.city) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.city) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="availabilities-edit">
                    <div class="content-all-availability">
                        <div class="title-personal">
                            <h3>Disponibilités</h3>
                        </div>
                        <div class="content-all-day">
                            {% if availabilityUser == NULL %}
                            <div class="item-day">
                                <p class="no-result-day">Aucune Disponibilités n'a été enregistré</p>
                            </div>
                            <div class="content-btn-found btn-edit">
                                <button type="button" id="add-av" onclick="edit.handleClickBtnAddAvai()" class="btn-found next-step" data-toggle="modal" data-target="#popup">
                                    <p>Ajouter une disponibilité</p>
                                </button>
                            </div>
                            <div id="popup" class="modal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="title-personal">
                                                <h3>Ajouter une disponibilité</h3>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <p> Je suis un magnifique pop-up</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="edit.handleClickBtnClose()" class="btn btn-secondary" data-dismiss="modal">Fermer le pop-up
                               </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ dump(user.availabilities) }} 
                            {% else %}
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Lundi</p>
                                </div>
                                <div class="result-day" onclick="edit.handleClick()">
                                    <p>{{ availabilityUser[0].monday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Mardi : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].tuesday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Mercredi : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].wednesday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Jeudi : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].thursday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Vendredi : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].friday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Samedi : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].saturday }}</p>
                                </div>
                            </div>
                            <div class="item-day">
                                <div class="label-day">
                                    <p>Dimanche : </p>
                                </div>
                                <div class="result-day">
                                    <p>{{ availabilityUser[0].sunday }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
                <div class="ig-edit">
                    <div class="title-step">
                        <h2>Informations en jeu</h2>
                    </div>
                    <div class="item-form-step aligner">
                        <div class="label-item-step">
                            {{ form_label(form.username) }}
                        </div>
                        <div class="input-item-step">
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="error-item-step">
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="item-form-step">
                        <div class="label-item-step">
                            {{ form_label(form.countryInGame) }}
                        </div>
                        <div class="input-item-step">
                            {{ form_widget(form.countryInGame) }}
                        </div>
                        <div class="error-item-step">
                            {{ form_errors(form.countryInGame) }}
                        </div>
                    </div>
                    <div class="all-personal edit-personal">
                    <div class="edit-rank">
                    <div class="title-personal">
                        <h3>Vos Ranks</h3>
                        <p class="complementary-info">(Si vous êtes unranked, veuillez choisir la division "N/A")</p>
                    </div>
                    <div class="content-personal width-100">
                        <div class="personal-solo-rank">
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.soloRank) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.soloRank) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.soloRank) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.soloDivision) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.soloDivision) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.soloDivision) }}
                                </div>
                            </div>
                        </div>
                        <div class="personal-flex-rank">
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.flexRank) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.flexRank) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.flexRank) }}
                                </div>
                            </div>
                            <div class="item-form-step aligner">
                                <div class="label-item-step">
                                    {{ form_label(form.flexDivision) }}
                                </div>
                                <div class="input-item-step">
                                    {{ form_widget(form.flexDivision) }}
                                </div>
                                <div class="error-item-step">
                                    {{ form_errors(form.flexDivision) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="edit-role">
                    <div class="title-personal">
                        <h3>Vos Rôles</h3>
                        <p class="complementary-info">(Si vous n'avez pas de rôle secondaire, sélectionner "Aucun".)</p>
                    </div>
                    <div class="content-personal">
                        <div class="item-form-step aligner">
                            <div class="label-item-step">
                                {{ form_label(form.firstRole) }}
                            </div>
                            <div class="input-item-step">
                                {{ form_widget(form.firstRole) }}
                            </div>
                            <div class="error-item-step">
                                {{ form_errors(form.firstRole) }}
                            </div>
                        </div>
                        <div class="item-form-step aligner">
                            <div class="label-item-step">
                                {{ form_label(form.secondRole) }}
                            </div>
                            <div class="input-item-step">
                                {{ form_widget(form.secondRole) }}
                            </div>
                            <div class="error-item-step">
                                {{ form_errors(form.secondRole) }}
                            </div>
                        </div>
                    </div>
                </div>
                </div> 
                <div class="all-personal goal-edit">
                    <div class="title-personal">
                        <h3>Pourquoi cherchez-vous un Mate? *</h3>
                        <p class="complementary-info">(Vous devez sélectionner au minimum 1 raison.)</p>
                    </div>
                    <div class="content-personal width-100">
                        <div class="item-form-step goal-width">
                            <div class="input-item-step">
                                {{ form_widget(form.goal) }}
                            </div>
                            <div class="error-item-step">
                                {{ form_errors(form.goal) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-btn-found btn-edit">
                    <button type="submit" class="btn-found next-step">
                        <p>Valider les modifications</p>
                    </button>
                </div>              
                </div>
                <div class="champion-edit">
                <div class="favorite-edit-container">
                    <div class="title-personal">
                        <h3>Vos champions favoris</h3>
                        <p class="complementary-info">(Vous devez sélectionner au moins 1 champion.)</p>
                    </div>
                    <div class="three-champ-container aligner">
                    {% for index, loveChamp in user.favoriteChampion %}  
                        <div class="champion-container aligner width-100">
                            <div class="label-champ-container">
                                <h4>Champion favori n°{{ index+1 }}: *</h4>
                            </div>
                            <div class="card-champ-edit">
                                <div class="champion-image">
                                    <img class="param-img" src="/assets/images/champions/{{ loveChamp }}.png">
                                </div>
                                <div class="name-and-btn">
                                    {{ loveChamp }}
                                    <div class="btn-modify-champ">
                                        <a href="{{ path('edit_profile') }}">
                                            <div class="btn-modify change-champ">
                                                <p>Modifier</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>       
                            </div>
                        </div>
                    {% endfor %}  
                    {% if user.favoriteChampion|length < 3  %}
                        <div class="btn-modify-champ">
                            <a href="{{ path('edit_profile') }}">
                                <div class="btn-modify add-champ">
                                    <p>Ajouter un champion</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    </div>                   
                </div>
                <div class="hated-edit-container">
                    <div class="title-personal">
                        <h3>Vos champions non-favoris</h3>
                        <p class="complementary-info">(Vous devez sélectionner au moins 1 champion.)</p>
                    </div>
                    <div class="three-champ-container aligner">
                    {% for index, hatedChamp in user.hatedChampion %}
                        <div class="champion-container aligner width-100">
                            <div class="label-champ-container">
                                <h4>Champion non-favori n°{{ index+1 }} : *</h4>
                            </div>
                            <div class="card-champ-edit">
                                <div class="champion-image">
                                    <img class="param-img" src="/assets/images/champions/{{ hatedChamp }}.png">
                                </div>
                                <div class="name-and-btn">
                                    {{ hatedChamp }}
                                    <div class="btn-modify-champ">
                                        <a href="{{ path('edit_profile') }}">
                                            <div class="btn-modify change-champ">
                                                <p>Modifier</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>       
                            </div>
                        </div>
                    {% endfor %}
                    {% if user.hatedChampion|length < 3 %}
                        <div class="btn-modify-champ">
                            <a href="{{ path('edit_profile') }}">
                                <div class="btn-modify add-champ">
                                    <p>Ajouter un champion</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}               
                    </div>
                </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
</main>
<script src="/assets/js/edit.js"></script>
{% endblock %}
