{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="main-rules bg-main-step">
    {% for message in app.flashes('warning') %}
        <div class="flash-warning">
            {{ message }}
        </div>
    {% endfor %}
    <section class="content-step bg-step">
        <div class="title-step">
            <h1>Étape 1</h1>
        </div>
        <div class="text-form under-title">
            <div class="explain-text">
                <p>
                    Informations personnelles
                </p>
                <p class="complementary-info">(Seul votre prénom, votre âge et votre pays seront affichés sur votre profil)</p>
            </div>
        </div>
        <div class="content-step-form">
            {{ form_start(form) }}

                <div class="item-form-step">
                    <div class="label-item-step">
                        {{ form_label(form.lastname) }}
                    </div>
                    <div class="input-item-step">
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="error-item-step">
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>
                <div class="item-form-step">
                    <div class="label-item-step">
                        {{ form_label(form.firstname) }}
                    </div>
                    <div class="input-item-step">
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="error-item-step">
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>
                <div class="item-form-step">
                    <div class="label-item-step">
                        {{ form_label(form.age) }}
                    </div>
                    <div class="input-item-step">
                        {{ form_widget(form.age) }}
                    </div>
                    <div class="error-item-step">
                        {{ form_errors(form.age) }}
                    </div>
                </div>
                <div class="item-form-step">
                    <div class="label-item-step">
                        {{ form_label(form.country) }}
                    </div>
                    <div class="input-item-step">
                        {{ form_widget(form.country) }}
                    </div>
                    <div class="error-item-step">
                        {{ form_errors(form.country) }}
                    </div>
                </div>
                <div class="item-form-step">
                    <div class="label-item-step">
                        {{ form_label(form.city) }}
                    </div>
                    <div class="input-item-step">
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="error-item-step">
                        {{ form_errors(form.city) }}
                    </div>
                </div>

        <div class="content-btn-found btn-step">
                <button type="submit" class="btn-found next-step">
                    <p>Étape suivante</p>
                </button>
        </div>
            {{ form_end(form) }}
        </div>     
    </section>
</main>
{% endblock %}
