{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="main-step-2 bg-main-step">
    <section class="content-step bg-step">
        <div class="title-step">
            <h1>Récapitulatif</h1>
        </div>
        <div class="text-form under-title">
            <div class="explain-text">
                <p>
                    Récapitulatif de vos informations
                </p>
                <p class="complementary-info">(Vous pourrez modifier ces informations même après validation de ces dernières.)</p>
            </div>
        </div>
        <div class="content-step-form summary-form">

            {{ include('found_mate/partials_summary/_irl_info.html.twig') }}

            {{ include('found_mate/partials_summary/_ig_info.html.twig') }}

            {{ include('found_mate/partials_summary/_availability_info.html.twig') }}
            
            {{ include('found_mate/partials_summary/_goal_info.html.twig') }}
            <div class="content-btn-found btn-step">
                <a href="{{ path('homepage') }}">
                        <div class="btn-preview next-step">
                            <p>Valider mes informations</p>
                        </div>
                    </a>
            </div>
        <div class="return-rules rules-step">
            <a href="{{ path('found_mate') }}"><span>&larr;</span> Retourner à la liste des règles</a>
        </div>    
        </div>     
    </section>
</main>
{% endblock %}
